.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.screen-text {
    text-align: center;
    font-size: 6em;
    font-family: 'Source Code Pro ExtraBold';
    line-height: 100%;
}