/* 
  MAIN COLOURS
  #FFFBEB
  #495579
  #263159
  #251749
 */

:root {
  --background-color: #FFFBEB;
  --main-color: #251749;
  --grey-color: #495579;
}

@font-face {
  font-family: 'Source Code Pro Main';
  src: url(../public/fonts/SourceCodePro-Medium.ttf);
}

@font-face {
  font-family: 'Source Code Pro Bold';
  src: url(../public/fonts/SourceCodePro-Bold.ttf);
}

@font-face {
  font-family: 'Source Code Pro ExtraBold';
  src: url(../public/fonts/SourceCodePro-ExtraBold.ttf);
}

body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFBEB;
  color: #251749;
  overflow-x: hidden;
}

hr {
  border-width: 0;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}
